.income, .expense, .balance {
  text-align: center;
}

.material-icons {
  text-align: center;
  margin-right: 10px;
  /*align-content: center;*/
}

/*.income-button {*/
/*margin: 13px;*/
/*}*/
.btn-space {
  margin-right: 15px;
}

.button-row {
  padding: 10px;
  margin: auto;
  /*margin: auto;*/
  display: flex;
  justify-content: center;
  /*align-items: center;*/
}


