<div class="income">Income {{income}} $
</div>

<div class="expense">Expense {{expense}} $
</div>
<div class="expense">Category {{category}}
</div>
<mat-divider></mat-divider>
<div class="balance">Balance {{balanceValue}} $</div>

<br>

  <div class="button-row">
    <button mat-raised-button color="primary" class="income-button btn-space" (click)="insertNewIncome()">Add income</button>
      <button mat-raised-button color="warn" class="btn-space" (click)="insertNewExpense()">Add expense</button>
    <br>
</div>


<br>



