<div class="income">
<!--  <span class="material-icons md-18">attach_money</span>-->
  Income {{income}} $
<!--  <br>-->
<!--  {{incomeCategory}}-->
<!--  <span class="material-icons md-18">category</span>-->
<!--  Category-->
<!--  {{category}}-->
</div>

<div class="expense">
<!--  <span class="material-icons md-18">money</span>-->
  Expense {{expense}} $
  <br>
  <div *ngFor="let item of expenses">{{item}}</div>
</div>


<!--<mat-list class="income">-->
<!--  <mat-list-item>-->
<!--  <span class="material-icons md-18">attach_money</span>-->
<!--      Income {{income}} $-->
<!--  </mat-list-item>-->
<!--  <mat-list-item><span class="material-icons md-18">money</span>Expense {{expense}} $</mat-list-item>-->
<!--  <mat-list-item><span class="material-icons md-18">category</span>Category {{category}}-->
<!--  </mat-list-item>-->
<!--</mat-list>-->

<mat-divider></mat-divider>
<div class="balance" [style.color]="income > expense ? plusBalance : minusBalance">
  <span class="material-icons md-18">paid</span>
  Balance {{balanceValue}} $
</div>

<br>

<div class="button-row">
  <button mat-raised-button color="primary" class="income-button btn-space" (click)="insertNewIncome()">Add income
  </button>
  <button mat-raised-button color="warn" class="btn-space" (click)="insertNewExpense()">Add expense</button>
  <br>
</div>


<br>



